body.dragging, body.dragging * {
    cursor: move !important;
}
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
ol.lista_regras li.placeholder, ol.lista_acoes li.placeholder, ol.lista_tratativas li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.lista_regras li.placeholder:before, ol.lista_acoes li.placeholder:before, ol.lista_tratativas li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
ol.lista_regras, ol.lista_acoes, ol.lista_tratativas {
    list-style-type: none;
    padding: 0;
}
.titulo {
    font-weight: bold;
    text-align: center;
    border: 1px solid #000;
    border-bottom: 1px solid #000;
}
.row_titulo_regras {
    margin-top: 2px;
    margin-bottom: 1px;
}
.row_regras {
    margin-bottom: 1px;
}
.main {
    padding-left: 15px;
    padding-right: 15px;
}
.texto_linha {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #999;
    line-height:0.1em;
    margin-top:10px;
    margin-bottom: 10px;
}
.texto_linha_grupos {
    border-bottom: 3px solid #000;
}
.texto_linha_grupos span, .coluna_linha_vertical > .or > span {
    color: #000;
}
.texto_linha-small {
    margin-top: 6px;
    margin-bottom: 5px;
}
.texto_linha {
    color: #999;
}
.coluna_linha {
    width: 1%;
    margin-left: -15px;
}
.hr {
    background:#fff;
    padding:0 10px;
    font-weight: bold;
}
.hr-small {
    background:#fff;
    font-size: 12px;
}
.hr-small-and {
    background:#f5f5f5;
    font-size: 12px;
}
.titulo_regra {
    background-color: #000;
    color: #fff;
    border: none;
    border-bottom: 4px solid #fff;
    text-align: left;
}
.condicoes, .regras {
    background-color: #1d41c3;
    border: none;
    color: #fff;
}
.coluna_condicoes, .coluna_adicionar_grupo_condicoes, .coluna_adicionar_regra {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}
.coluna_condicoes .col-sm-1 {
    padding-right: 1px;
}
.coluna_condicoes .col-sm-11 {
    padding-left: 0;
}
.ou_coluna_2 {
    margin-top: 25px;
}
.titulos_grupos_regras {
    background-color: #ddd;
    border: none;
}
.titulo_caixa {
    border-bottom: 4px solid #fff;
}
.left {
    float: left !important;
    margin-right: 5px;
}
.list-group {
    margin-bottom: 10px;
}
.btn_grupo {
    margin-bottom: 10px;
}
.or span {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-left: 6%;
    text-align: center;
}
.or .above, .or .below {
    height: 50px;
    width: 3px;
    background-color: #000;
    margin-left: 50%;
}
.or > span {
    color: #999;
}
.list-group-item > .row > div {
    font-weight: bold;
}
.list-group-item > .row > .col-sm-1 {
    font-size: 20px;
    margin-top: -8px;
}
.list-group-item > .row > .col-md-1 {
    text-align: right;
}
.coluna_condicoes > .list-group > .list-group-item > .row > .col-md-1 {
    margin-right: 3%;
}
.row.center {
    display: flex;
    align-items: center;
}
.btn-danger {
    background-color: red;
}
.fa-minus-square {
    color: red;
}
.btn {
    font-weight: bold;
}
.comprimir, .expandir {
    cursor: pointer;
}
.btn-right {
    text-align: right;
}
.btn-left {
    text-align: left;
}
.fa-caret-up, .fa-caret-down, .titulo_regra > .fa-minus {
    font-size: 17px;
}
.btn-dark {
    background-color: #363636;
    color: #f5f5f5;
}
.btn-dark:hover {
    background-color: #2f2f2f;
    color: #f5f5f5;
}
.btn-white {
    background-color: #fff;
    color: #000;
}
.btn-white:hover {
    background-color: #f5f5f5;
    color: #000;
}
.well {
    margin-left: -15px;
    margin-right: -15px;
}
.select2-selection__choice {
    color: #000 !important;
}
.botoes_grupo, .botoes_grupo_condicoes {
    margin-top: 2px;
}
.coluna_icones {
    padding-right: 2%;
}
.coluna_icones_acoes {
    padding-right: 2% !important;
}
.lista_regras .coluna_icones {
    padding-right: 1%;
}
.coluna_icones > i {
    float: right;
    margin-left: 3px;
    margin-top: 6%;
    cursor: pointer;
}
.desabilitado {
    opacity: 0.5;
}
.btn-right i {
    margin-right: 5px;
    cursor: pointer;
}
.btn_adicionar_grupo_validacoes {
    margin-bottom: 10px;
    margin-top: 10px;
}
.coluna_acoes {
    padding-right: 1.5%;
}
.comparacao_modal #input_comparacao_modal {
    width: 10%;
}
.panel {
    background-color: transparent;
    border: 1px solid #1848f7;
}
.well_validacoes, .well_condicoes, .well_regras, .well_acoes, .well_dados_adicionais {
    margin: 0;
    padding-bottom: 0.5%;
    border: 1px solid #000;
}
.well_validacoes {
    margin-top: 10px;
}
.icone_regras {
    margin-top: 3px;
    float: right;
    padding-right: 0.4%;
}
.input_editar_regra, .input_editar_tratativa {
    height: 20px;
    color: #000;
}
.div_lista_tratativas, #div_configuracao_lista_tratativas, #div_configuracao_tratativas {
    margin-top: 10px;
}
.well_tratativa {
    background-color: #fff;
}
.row_tratativa {
    margin-bottom: 5px;
}
.row_tratativa > .col-sm-10 {
    border-bottom: 2px solid #000;
    padding-left: 0;
}
.row_tratativa > .col-sm-2 {
    border-bottom: 2px solid #000;
}
.row_tratativa > .col-sm-10 > label {
    margin-bottom: 0;
}
.row_tratativa > .col-sm-10 > i {
    cursor: pointer;
}
.row_salvar_configuracao {
    display: flex;
    align-items: flex-end;
}
.btn_adicionar_tratativa {
    margin-bottom: 5px;
}
.div_json_robo {
    padding-left: 0;
    padding-right: 0;
}
.descricao_acao {
    font-style: italic;
    font-weight: normal;
}