.icone {
    float: left !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
}
li {
    border-top: 1px solid #000;
}
.tree-content {
    padding: 0 !important;
}
li.selected > .tree-content {
    background: transparent !important;
    color: #fff !important;
}
li.selected:hover > .tree-content:hover, li > .tree-content:hover {
    background: #c8dcf6 !important;
}
.tree-root > li:nth-child(even) {
    background: #bcd0e8
}
.btn {
    padding: 2px;
    height: 17px;
}
.is-danger {
    background-color: #ff0000 !important
}
.is-success {
    background-color: #009913 !important
}
.modal-card {
    width: 50%;
    min-height: 45%;
}
li.tree-node .disabled, li.tree-node .disabled:hover, li.tree-node .disabled > .tree-content {
    background-color: #ff0000 !important;
}
li.tree-node .disabled > .tree-content > .tree-anchor {
    background-color: transparent !important;
    opacity: 1 !important;
    color: #343434 !important;
}
li.tree-node .disabled > .tree-content > .tree-anchor > .node-text {
    color: #fff !important;
}
body {
    /* margin-left: 10px; */
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
}
#app {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #4a4a4a !important;
}
.topo {
    margin-top: 15px;
    margin-bottom: 10px;
}
.label_left {
    text-align: left;
    padding-left: 0;
}
.field-label {
    text-align: left;
    flex-grow: 0 !important;
    min-width: 120px;
}
.ti-new-tag-input-wrapper {
    border-top: none;
}
.node-text {
    white-space: normal !important;
    min-width: 1000px;
}
.content li+li, .content ul ul {
    margin-top: 0 !important;
}
.tree-root {
    margin-left: 0 !important;
}
.navbar-custom-menu {
    right: 0;
    position: absolute;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top: -1px;
}
.field_topo {
    margin-bottom: -10px !important;
}
.btn_salvar {
    margin-right: 5%;
}
.div_right {
    width: 15%;
}
.fa-cog {
    margin-top: 11px;
}
.checkbox input[type=checkbox] {
    position: relative !important;
    margin-left: 0 !important;
}