.intervalo {
    width: 95% !important;
    float: right !important;
}
input[type=radio], .iCheck-helper {
    height: 20px !important;
    position: relative !important;
    opacity: 1 !important;
    width: 14px !important;
    left: 1px !important;
    float: left;
}
.iCheck-helper {
    left: -20px !important;
    opacity: 0 !important;
}
.btn-group {
    width: 100%;   
}
.cada, .descricao_intervalo {
    margin-top: 7px;
}
 .btn-group > label {
    width: 50%;
}
.btn-group > .btn {
    text-align: left;
}
.text_intervalo {
    margin-left: -30px;
    max-width: 80px;
}
.descricao_intervalo {
    margin-left: -25px;
}