.callout {
    padding: 5px;
    margin-bottom: 5px;
}
.callout.callout-info {
    background-color: #000 !important;
}
.inativo td {
    opacity: 0.4;
}
.ativo {
    opacity: 1 !important;
}
.exibir_crons {
    float: right;
    cursor: pointer;
    margin-top: 3px;
}
.content-header .btn:first-child {
    margin-right: 5px;
}