/*
 * Skin: wooza
 * ------------
 */
 .skin-wooza .main-header .navbar {
    background-color: #c4d82d;
  }
  .skin-wooza .main-header .navbar .nav > li > a {
    color: #ffffff;
  }
  .skin-wooza .main-header .navbar .nav > li > a:hover,
  .skin-wooza .main-header .navbar .nav > li > a:active,
  .skin-wooza .main-header .navbar .nav > li > a:focus,
  .skin-wooza .main-header .navbar .nav .open > a,
  .skin-wooza .main-header .navbar .nav .open > a:hover,
  .skin-wooza .main-header .navbar .nav .open > a:focus,
  .skin-wooza .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
  }
  .skin-wooza .main-header .navbar .sidebar-toggle {
    color: #ffffff;
  }
  .skin-wooza .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
  }
  .skin-wooza .main-header .navbar .sidebar-toggle {
    color: #fff;
  }
  .skin-wooza .main-header .navbar .sidebar-toggle:hover {
    background-color: #c4d82d;
  }
  @media (max-width: 767px) {
    .skin-wooza .main-header .navbar .dropdown-menu li.divider {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .skin-wooza .main-header .navbar .dropdown-menu li a {
      color: #fff;
    }
    .skin-wooza .main-header .navbar .dropdown-menu li a:hover {
      background: #c4d82d;
    }
  }
  .skin-wooza .main-header .logo {
    background-color: #c4d82d;
    color: #ffffff;
    border-bottom: 0 solid transparent;
  }
  .skin-wooza .main-header .logo:hover {
    background-color: #c4d82d;
  }
  .skin-wooza .main-header li.user-header {
    background-color: #c4d82d;
  }
  .skin-wooza .content-header {
    background: transparent;
  }
  .skin-wooza .wrapper,
  .skin-wooza .main-sidebar,
  .skin-wooza .left-side {
    background-color: #222d32;
  }
  .skin-wooza .user-panel > .info,
  .skin-wooza .user-panel > .info > a {
    color: #fff;
  }
  .skin-wooza .sidebar-menu > li.header {
    color: #4b646f;
    background: #1a2226;
  }
  .skin-wooza .sidebar-menu > li > a {
    border-left: 3px solid transparent;
  }
  .skin-wooza .sidebar-menu > li:hover > a,
  .skin-wooza .sidebar-menu > li.active > a,
  .skin-wooza .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #1e282c;
  }
  .skin-wooza .sidebar-menu > li.active > a {
    border-left-color: #c4d82d;
  }
  .skin-wooza .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
  }
  .skin-wooza .sidebar a {
    color: #b8c7ce;
  }
  .skin-wooza .sidebar a:hover {
    text-decoration: none;
  }
  .skin-wooza .sidebar-menu .treeview-menu > li > a {
    color: #8aa4af;
  }
  .skin-wooza .sidebar-menu .treeview-menu > li.active > a,
  .skin-wooza .sidebar-menu .treeview-menu > li > a:hover {
    color: #ffffff;
  }
  .skin-wooza .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
  }
  .skin-wooza .sidebar-form input[type="text"],
  .skin-wooza .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
  }
  .skin-wooza .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
  }
  .skin-wooza .sidebar-form input[type="text"]:focus,
  .skin-wooza .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
  }
  .skin-wooza .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
  }
  .skin-wooza .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
  }
  